.top-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    .map {
        grid-column: 2/3;
        grid-row: 1/3;
    }
}

.bottom-bit {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
