//colors
$color-primary: #f18805;
$color-primary-light: #f0A202;
$color-primary-dark: #D95D39;
$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;
$color-white: #fff;
$color-black: #000;
$color-dark-blue: #202C59;
$color-dark-red: #581F18;

//font-size
$default-font-size: 1.6rem;