.map {
    height: 90vh;
    clip-path: polygon(0 13.5%, 100% 0, 100% 86.5%, 0 100%);
    position: relative;
    filter: grayscale(80%);
    margin-top: -12rem;
}

.leaflet-top {
    margin-top: 20rem;
}

.leaflet-control {
    &.leaflet-control-attribution {
        display: hidden;
    }
    &.leaflet-control-zoom {
        margin-top: 7rem;
    }
}

// .leaflet-control-zoom.leaflet-bar.leaflet-control {
//     margin-left: 1rem;
//     margin-top: 6rem;
// }